.page-home {

  .map,
  .map-base {
    height: 50vh;
    width: 100%;
    margin: 0 auto;
  }

  main {
    padding: 0;
  }
}

.home-start {

  padding-top: 4em;
  padding-bottom: 4em;

  h2 {
    margin-top: 2em;

    &:first-child {
      margin-top: 0;
    }
  }

  p {
    margin-bottom: 1.2em;
  }

  pre {
    margin-bottom: 1.5em;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 1.2em 0;
  }

}